*,
*::before,
*::after{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    font-size: 22px;
}

@import "./init";

.block{
    height: 100%;
    padding: 20px;
    text-align: center;
    background-color: gray;
}
.hero{
    margin-bottom: $grid-gap;
    margin-top: $grid-gap;
}
.page{
    margin-bottom: $grid-gap;
}
